body{
    justify-content: center;
    align-items: center;
}
#menu{
    background-color: rgb(3, 3, 159);
    display: inline-block;
    position: sticky;
    width: 100%;
}
nav#menu ul li {
    display: inline-block;
}
nav#menu ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#logocrb{
    width: 90px;
    float: left ;
    padding: 5px 150px 0px 50px;
}
nav#menu ul li A{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 25px 40px 2px 5px  ;
}
#entrar{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(43, 48, 54);
    text-align: center;
    font-size: 35px;
    max-width: 700px;
    margin: auto;
    padding-top: 70px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(144, 145, 146);
    text-align: center;
    font-size: 20px;
    max-width: 620px;
    float: center;
    margin: auto;
    padding-left: 10px;
    padding-bottom: 50px;
}

section#cards div{
    display: inline-block;
    position: sticky;
    margin: auto;
    align-content: center;

}
#cards{
    margin: auto;
    display: block;
    align-content: center;
    padding-left: 100px;
}
div#card1{
    background-color: aquamarine;
    background-image:linear-gradient(to right,red,yellow,rgb(3, 143, 198),green);
    width: 240px;
    height: 134px;
    border-radius: 5px;
    float:left;
    display: block;
    border-left: 30px;
    
}
div#card2{
    background-image: url(cebraecmc.png);
    width: 240px;
    height: 140px;
    
    
}
div#card3{
    background-image: url(cebraeseja.svg);
    width: 240px;
    height: 140px;
}
div#card4{
    background-image: url(cebraefaca.svg);
    width: 240px;
    height: 140px;
}
div#card5{
    background-image: url(cebraealcc.svg);
    width: 240px;
    height: 140px;
}
.textoc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 10px 30px 20px;;
    font-weight: bold;
    max-width: 200px;
    text-shadow:3px 0px 5px black;
}

div#card2 .content{
    position: relative;
  top: 110px;
  left: 5px;
  height: 0px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  
  color: aliceblue;
  text-align: inherit;
}
#card2:hover .content{
    transition-delay: 0.75s;
    background: rgb(245, 77, 77);
    opacity: 1;
    visibility: visible;
   height: 200px;
    width: 230px;
}
div#card3 .content{
    position: relative;
  top: 110px;
  left: 5px;
  height: 0px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  color: aliceblue;
  text-align: inherit;
}
#card3:hover .content{
    transition-delay: 0.75s;
    background: rgb(249, 180, 4);
    opacity: 1;
    visibility: visible;
    height: 200px;
    width: 230px;
}
div#card4 .content{
    position: relative;
  top: 110px;
  left: 5px;
  height: 0px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  color: aliceblue;
  text-align: inherit;
}
#card4:hover .content{
    transition-delay: 0.75s;
    background: rgb(4, 165, 234);
    opacity: 1;
    visibility: visible;
    height: 200px;
    width: 230px;
}
div#card5 .content{
    position: relative;
  top: 110px;
  left: 5px;
  height: 0px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  color: aliceblue;
  text-align: inherit;
}
#card5:hover .content{
    transition-delay: 0.75s;
    background: rgb(48, 188, 1);
    opacity: 1;
    visibility: visible;
    height: 200px;
    width: 230px;
}

button{
    background-color: white;
    border-radius: 20px;
    border-color: blue;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
   text-decoration: none;
}
button:hover{
    background-color: rgb(4, 4, 171);
    color: rgb(255, 255, 255);
}
#botoes{
    display: inline-block;
    margin: auto;
}